<html>

<head lang="en">
    <meta charset="UTF-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #MainDiv {
            background: url(https://drive.google.com/uc?id=1ccAXKZRbwGwKvVsA8FPq-AIaEB1BPrfd&export=download);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .container {
            padding: 20px;
        }

        .greetings {
            text-align: center;
            font-size: 30px;
            font-family: sans-serif;
            letter-spacing: 1px;
            font-weight: 600;
            color: #3aba86;
            margin-top: 60px;
        }

        .tagline {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;
            margin-top: 60px;
        }

        .text {
            color: #3aba86;
            font-size: 32px;
            font-weight: 600;
            font-style: italic;
            font-family: sans-serif;
        }

        .boxes {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }

        .small {
            height: 16px;
            width: 10px;
            background: #a7ffdb;
            border-radius: 2px;
        }

        .medium {
            height: 20px;
            width: 16px;
            background: #72e4b6;
            border-radius: 2px;
        }

        .large {
            height: 24px;
            width: 20px;
            background: #3aba86;
            border-radius: 2px;
        }

        .sub-tagline {
            text-align: center;
            font-size: 30px;
            font-family: sans-serif;
            margin-top: 60px;
        }

        .button-tag {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 60px;
        }

        .button {
            background: #3aba86;
            color: white;
            font-family: sans-serif;
            padding: 10px 30px;
            border-radius: 5px;
            font-size: 22px;
        }

        .logo {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-top: 60px;
        }

        .logo img {
            height: 80px;
        }

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 20px;
            margin-top: 20px;
        }

        .icon-ref {
            text-decoration: none;
        }

        .footer {
            background: #3aba86;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
        }

        .contact {
            display: flex;
            flex-direction: column;
            font-family: sans-serif;
            color: white;
            gap: 10px;
        }

        .title {
            font-weight: 600;
            font-size: 20px;
        }

        .numbers {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            gap: 3px;
        }

        .descripttion {
            font-weight: 600;
            font-size: 20px;
            font-family: sans-serif;
            color: white;
            text-align: justify;
        }

        @media only screen and (max-width: 828px) {
            .greetings {
                font-size: 26px;
            }

            .text {
                font-size: 28px;
            }

            .sub-tagline {
                font-size: 28px;
            }

            .large {
                height: 22px;
                width: 18px;
            }

            .medium {
                height: 18px;
                width: 14px;
            }

            .small {
                height: 14px;
                width: 8px;
            }
        }

        @media only screen and (max-width: 738px) {
            .greetings {
                font-size: 22px;
            }

            .text {
                font-size: 24px;
            }

            .sub-tagline {
                font-size: 22px;
            }

            .tagline {
                gap: 20px;
            }

            .large {
                height: 22px;
                width: 18px;
            }

            .medium {
                height: 18px;
                width: 14px;
            }

            .small {
                height: 14px;
                width: 8px;
            }
        }

        @media only screen and (max-width: 642px) {
            .greetings {
                font-size: 18px;
            }

            .text {
                font-size: 20px;
            }

            .sub-tagline {
                font-size: 18px;
            }

            .tagline {
                gap: 15px;
            }

            .large {
                height: 20px;
                width: 16px;
            }

            .medium {
                height: 16px;
                width: 12px;
            }

            .small {
                height: 12px;
                width: 8px;
            }

            .button {
                font-size: 16px;
            }

            .title {
                font-size: 16px;
            }

            .numbers {
                font-size: 12px;
            }

            .descripttion {
                font-size: 16px;
            }
        }

        @media only screen and (max-width: 546px) {
            .greetings {
                font-size: 16px;
                margin-top: 40px;
            }

            .text {
                font-size: 16px;
            }

            .sub-tagline {
                font-size: 16px;
                margin-top: 40px;
            }

            .tagline {
                gap: 15px;
                margin-top: 40px;
            }

            .large {
                height: 18px;
                width: 14px;
            }

            .medium {
                height: 14px;
                width: 10px;
            }

            .small {
                height: 10px;
                width: 8px;
            }

            .button-tag {
                margin-top: 40px;
            }

            .logo {
                margin-top: 40px;
            }

            .button {
                font-size: 16px;
            }

            .footer {
                margin-top: 20px;
            }

            .title {
                font-size: 16px;
            }

            .numbers {
                font-size: 12px;
            }

            .descripttion {
                font-size: 16px;
            }
        }
    </style>
</head>

<body>
    <div id="MainDiv">
        <div id="EncompassingDiv">
            <div class="container">
                <div class="greetings">
                    Hello! <%= name %>
                </div>
                <div class="tagline">
                    <div class="boxes">
                        <div class="large"></div>
                        <div class="medium"></div>
                        <div class="small"></div>
                    </div>
                    <div class="text">
                        Thankyou for your interest in Excel Pros
                    </div>
                    <div class="boxes">
                        <div class="small"></div>
                        <div class="medium"></div>
                        <div class="large"></div>
                    </div>
                </div>
                <div class="sub-tagline">
                    Your Reliable Excel Partner for all your excel <br /> woes and problems
                </div>
                <div class="button-tag">
                    <div class="button">
                        We'll be in touch shortly
                    </div>
                </div>
                <div class="logo">
                    <img src="https://drive.google.com/uc?id=1-THewlPSfOq9begAMNpu2DiR64kNXlhx&export=download"
                        alt="Excel Pros Logo">
                </div>
                <div class="social-media">
                    <a href="https://www.excel-pros.com/" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=1ucivKscLT1KSHqi8R1Bf2-7jQWlVgL7k&export=download"
                            alt="Youtube Icon">
                    </a>
                    <a href="https://ca.linkedin.com/company/excel-pros" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=1373ZO9FJzSoekIEyUhQ_Gaqw-sgruj-h&export=download"
                            alt="linkedin Icon">
                    </a>
                    <a href="https://www.excel-pros.com/" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=1BJLLWi8NBXHP52OUYE0AmG4CGOeikMsw&export=download"
                            alt="Facebook Icon">
                    </a>
                    <a href="https://www.excel-pros.com/" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=115Hs98RCCBaD8YdCDZ1gRjADstm73lmA&export=download"
                            alt="Instagram Icon">
                    </a>
                    <a href="https://www.excel-pros.com/" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=1TUinn42Bpq3Wd1o2Ow9YnM86WyJLACVu&export=download"
                            alt="Whatsapp Icon">
                    </a>
                    <a href="https://www.excel-pros.com/" class="icon-ref">
                        <img src="https://drive.google.com/uc?id=1I4bAMtndIZxHEduIEpr-Suo8X_nsL-VD&export=download"
                            alt="Twitter Icon">
                    </a>
                </div>
            </div>
            <div class="footer">
                <div class="contact">
                    <div class="title">Contact Us</div>
                    <div class="numbers">
                        <span>+1 (647) 706-6755</span>
                        <span>info@excel-pros.com</span>
                    </div>
                </div>
                <div class="descripttion">
                    We believe that Our Excel <br /> Consultling can Contribute <br /> to your Business Efficiency
                </div>
            </div>
        </div>
    </div>
</body>

</html>